<?xml version="1.0"?>
<sitecore xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <pipelines>
        <pageEditingScripts>
            <!--   Base scripts   -->
            <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingScripts.AddDeclaredScripts, Sitecore.ExperienceEditor" patch:source="Sitecore.ContentTesting.ExperienceEditor.config">
                <path xdt:Transform="InsertAfter(&lt;path&gt;/sitecore/shell/Applications/Page Modes/ChromeControls.js&lt;/path&gt;)" value="/sitecore/shell/Applications/Page Modes/XMenFeatureEEHelpers.js"/>
            </processor>
        </pageEditingScripts>
       </pipelines>
</sitecore>