<!--**
* Inserts a new JavaScript to be used to override EE functionality.
*-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group name="ExperienceEditor" groupName="ExperienceEditor">
                <pipelines>
                    <pageEditingScripts>
                        <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingScripts.AddDeclaredScripts, Sitecore.ExperienceEditor">
                            <path patch:after="path[@value='sitecore/shell/Applications/Page Modes/ChromeControls.js']">
                                /sitecore/shell/Applications/Page Modes/XMenFeatureEEHelpers.js
                            </path>
                        </processor>
                    </pageEditingScripts>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>